.authContainer {
  max-width: 400px;
  margin: 0 auto;
}

.authContainer h1 {
  padding-bottom: 15px;
  text-align: center;
}

.authContainer p {
  text-align: right;
}

.patient {
  max-width: 800px;
  margin: 0 auto;
}

.patient h1 {
  text-align: center;
}

.patientList {
  max-width: 800px;
  margin: 0 auto;
}

.patientList h1 {
  text-align: center;
}
